button {
	background-color: var(--secondary-color);
	color: rgba(28, 28, 28, 0.87);
	border: 1px solid var(--text-secondary);
  flex: 1;

	cursor: pointer;
	padding: 0.5rem 1rem;
}

button:hover,
button:active {
	background-color: rgba(177, 205, 189, 0.733);
}
