@import url("Block.css");
@import url("Button.css");
@import url("Select.css");
@import url("Input.css");

.converter-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	background-color: var(--secondary-color);
	min-width: 600px;
	padding: 2rem;
	margin: auto;
	border-radius: 8px;
	box-shadow: 2px 2px 9px 0px rgba(0, 0, 0, 0.144);
}
